/* -------------contacts section------------- */

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
  margin-right: 7px;
}

.contacts-section-link {
  color: #8e949c;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.contacts-section-link:hover,
.contacts-section-link:focus {
  color: #fb6d3a;
  font-weight: 600;
}