/* -------------contacts section------------- */

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-title-color);
  margin-right: 7px;
}

.contacts__link {
  color: var(--main-title-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #fb6d3a;
  font-weight: 600;
}