/* ------------ sidebar section --------------- */
.saidbar__section {
  // margin: 20px;
  // padding: 20px 0;
  background-color: var(--bg-color);
  color: #fff;
  width: 370px;
  
}

img {
  padding: 10px;
  width: 350px;
  border-radius: 50%;
}

.contacts__section,
.skills__section,
.skills__section {
  margin: 30px 0 0 40px;
}

.saidbar__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* -------------contacts section------------- */

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  // font-size: 14px;
  // line-height: 24px;
  color: var(--main-title-color);
  margin-right: 7px;
}

.contacts__link {
  color: var(--main-title-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:focus {
  color: #fb6d3a;
  font-weight: 600;
}