.summary__section {
  padding: 10px;
  margin: 0 0 40px 0;
  background-color: var(--bg-color);
}

.profession__title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--main-title-color);
  margin: 0 0 20px 0;
}

.name__title {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 45px;
  line-height: 55px;
  color: var(--main-title-color);
  margin: 0 0 25px 0;
}

.discription__text {
  /* width: 400px; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-title-color);
}



.section__title,
.my-education-header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--main-title-color);
  margin-bottom: 10px;
  background-color: var(--bg-color);
  width: 600px;
}