
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-bg-color);
}

/*-----------утиллиты----------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
}

